extends layout

block link
  -var selected = 'Dashboard';

block content
  .quill-container
    #full-toolbar.ql-toolbar.ql-snow 
      span.ql-format-group
        span(title='Bold', class='ql-format-button ql-bold')
        span.ql-format-separator
        span(title='Italic', class='ql-format-button ql-italic')
        span.ql-format-separator
        span(title='Underline', class='ql-format-button ql-underline')
        span.ql-format-separator
        span(title='Strikethrough', class='ql-format-button ql-strike')
      span.ql-format-group
        span(title='List', class='ql-format-button ql-list')
      span.ql-format-group
        span(title='Link', class='ql-format-button ql-link')
      span(title='Save', class='ql-picker-label add-story')
        a(href='javascript: post()') Add Story
      

    #full-editor.ql-editor.ql.snow
    
  #term-editor
    form(id='addterm', action='/dashboard/add', method='post', accept-charset='utf-8')  
      input(name='term', type='text', value='', placeholder='Term').term-edit
      input(name='definition', type='text', value='', placeholder='Definition').definition-edit
      span(title='Save', class='ql-picker-label add-story', style='padding: 4px 8px 0 0;')
        a(href='javascript: add_term();')  Add Term  
  
  - for story in stories
    div.dash-story
      !{story.text}

      ul.delete
        li
          a(href='/dashboard/edit/' + story._id, title='Edit this story') Edit
        li
          a(href='/dashboard/delete/' + story._id, title='Delete this story') Delete
        
  script.
    function post() {
      $('#full-editor a').remove();
      
      method = "post"; 

      var form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", "/dashboard/create");

      var hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", "contents");
      hiddenField.setAttribute("value", fullEditor.getHTML());

      form.appendChild(hiddenField);

      document.body.appendChild(form);
      
      form.submit();
    };
    function add_term() {
      addterm.submit();
    };
