extends layout

block link
	-var selected = 'Dashboard';
	
block content
	#edit-area
		.quill-container
			#full-toolbar.ql-toolbar.ql-snow 
				span.ql-format-group
					span(title='Bold', class='ql-format-button ql-bold')
					span.ql-format-separator
					span(title='Italic', class='ql-format-button ql-italic')
					span.ql-format-separator
					span(title='Underline', class='ql-format-button ql-underline')
					span.ql-format-separator
					span(title='Strikethrough', class='ql-format-button ql-strike')
				span.ql-format-group
					span(title='List', class='ql-format-button ql-list')
				span.ql-format-group
					span(title='Link', class='ql-format-button ql-link')
				span(title='Save', class='ql-picker-label add-story')
					a(href='javascript: post();') Save
				

			#full-editor.ql-editor.ql-snow
				!{story.text}
				
			#id
				!{story.id}	
		
		#image-upload
			span(title='Save', class='ql-picker-label add-story', style='padding: 10px 8px 0 0; height: 40px;')
				a(href='#', id='upload') Upload
			form(action='/dashboard/upload', class='dropzone', id='image-drop')		
		
		#image-attached
				img(src='/images/' + story.image)
		
		#term-list(style='margin: 0; padding-top: 20px;')
			input(id='term-search', name='term-search', data-list='.term-results', type='text', value='', placeholder='Search for term', autocomplete='off').term-edit
			ul.term-results
				- for term in terms
					li.dash-term(style='margin-bottom: 5px;')
						div.dash-word
							a(href='/dashboard/addterm/' + story._id + '/' + term._id) !{term.word}
		

		
	#terms-added
		- for termAdded in termsAdded
			li.dash-term(style='margin-bottom: 5px;')
				div.dash-word
					a(href='/dashboard/removeterm/' + story._id + '/' + termAdded._id)!{termAdded.word}			

							
	script.
		function post() {
			var actionPath = "/dashboard/update/" + $('#id').html();
			
			method = "post"; 

			var form = document.createElement("form");
			form.setAttribute("method", method);
			form.setAttribute("action", actionPath);

			var storyField = document.createElement("input");
			storyField.setAttribute("type", "hidden");
			storyField.setAttribute("name", "contents");
			storyField.setAttribute("value", fullEditor.getHTML());
			
			form.appendChild(storyField);

			document.body.appendChild(form);
			form.submit();
		};
