/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #444;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #444;
  text-align: center;
  /* text-shadow: 0 1px 3px rgba(0,0,0,.5); */
}
sup {
  font-weight: bold;
  vertical-align: super;
  font-size: smaller;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  margin-top: 150px;
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #444; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #444;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #444;
  border-bottom-color: #444;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/* Edit area styling */
#edit-area {
  width: 100%;
  min-height: 350px;
  margin-top: 30px;
}
/* Quill JS text editor styling */
.quill-container {
  background-color: #fff;
  color: #444;
  text-shadow: none;
  width: 70%;
  float: left;
  height: auto;
  max-height: 1100px;
  min-width: 400px;
}
#full-toolbar {
  text-align: left;
  min-height: 40px;
}
#full-editor {
  min-height: 300px;
  border: 1px solid #444;
  text-align: left;
}
#term-editor {
  min-height: 300px;
  text-align: left;
  width: 25%;
  float: right;
}
#term-list {
  text-align: left;
  float: right;
  width: 25%;
  min-height: 50px;
  padding-top: 50px;
  margin: 20px 0 40px 0;
  /*display: none;*/
}
.dash-term {
  min-height: 30px;
  margin-bottom: 25px;
}
.dash-term:hover {
  background: #bfbfbf;
}
.dash-word {
  padding: 5px;
  margin-right: 5px;
  font-weight: bold;
}
.dash-definition {
  padding: 5px;
}
.term-edit {
  height: 30px;
  width: 100%;
  border: 1px solid #bfbfbf;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
.definition-edit {
  min-height: 260px;
  width: 100%;
  border: 1px solid #bfbfbf;
  padding: 5px;
  resize: none;
}
.add-story {
  font-weight: bold;
  padding: 2px 2px 0 0;
  float: right;
}
.add-story > a {
  color: #444;
  text-decoration: none;
}
.add-story > a:hover {
  text-decoration: none;
  color: #06c;
}

/* Dashboard story styling */
#story-list {
  text-align: left;
  float: left;
  width: 70%;
  min-height: 50px;
  margin: 20px 0 40px 0;
}
.dash-story {
  border: 1px dashed #000;
  text-align: left;
  padding: 5px;
  margin-top: 50px;
}
/*.dash-story:hover {
  background-color: #444;
  color: #fff;
}*/
ul {
  list-style-type: none;
  padding: 20px 0 20px 0;
  float: right;
}
li {
  display: inline-block;
  padding-left: 20px;
  font-weight: bold;
}
li a {
  padding-right: 0;
  padding-left: 0;
  color: #444; /* IE8 proofing */
}
li a:hover {
  text-decoration: none;
  color: #06c;
}
#id {
  text-align: right;
  width: 100%;
  font-weight: bold;
}
/* Dashboard story styling */
.index-story {
  border: 1px solid #444;
  text-align: left;
  padding: 10px;
  margin: 20px 0 40px 0;
}


/*
 * Footer
 */

.mastfoot {
  color: #444; /* IE8 proofing */
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    background: #fff;
    padding-bottom: 30px;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: top;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1100px;
  }
}
